# .env

# Database configuration
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=

# FTP configuration
FTP_HOST=
FTP_USER=
FTP_PASSWORD=

# Chrome WebDriver configuration
CHROME_DRIVER_LOCATION=
CHROME_BINARY_LOCATION=

# Other configuration options
DIRECTORY=
IMAGE_SITE=
THUMB_SERVER_PATH=
THUMB_DIRECT=
